
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slider -->
@Html.Action("Slider","Home")
<!-- end slider -->
<!-- search form -->
@Html.Action("Tour","Home")
<!-- end popular -->
<!-- promo -->
<div class="section promo clearfix">
    <div class="container">
        <h4>Go Go Tour</h4>
        <button class="button-default"></button>
    </div>
</div>
<!-- end promo -->
<!-- tours-travel -->

<!-- end tours-travel -->
@Html.Action("News","Home")
<!-- review -->
@Html.Action("NewTour","Home")
@Html.Action("Promotion","Home")
<div class="section review-users bg-second">
    <div class="container">
        <div id="owl-review-users">
            <div class="item">
                <h6>Feedback</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse nostrum ex, aspernatur est earum Ad vero eum nam saepe quidem perferendis</p>
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
            </div>
            <div class="item">
                <h6>Feedback</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse nostrum ex, aspernatur est earum Ad vero eum nam saepe quidem perferendis</p>
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
            </div>
            <div class="item">
                <h6>Feedback</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse nostrum ex, aspernatur est earum Ad vero eum nam saepe quidem perferendis</p>
                <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end review -->
