@model IEnumerable<TourBookingSolution.Data.ViewModels.TourView>
@using TourBookingSolution.Helper.Core
<div class="tours-travel">
    <div class="container">
        <div class="section-head">
            <h4>Tour</h4>
            <div class="underline"></div>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var url = $"/tour/{item.Title.ToUrlFormat(true, true)}-{item.ID}.html";
                <div class="content-wrap">
                    <div class="row">
                        <div class="col s6">
                            <div class="content-img">
                                <img src="@item.Avatar" alt="">
                                <div class="overlay"><span>@string.Format("{0:0,00}", item.Price)</span></div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="content">
                                <h3><a href="@url">@item.Title</a></h3>
                                <p>@item.Desc</p>
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half"></i></li>
                                </ul>
                                <a href="@url" class="button-default">Đặt ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
